.worktrees/
.assets
.env
*.pyc
dist/
build/
docs/
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
.venv/
venv/
__pycache__/
poetry.lock
.pytest_cache/
botpy.log

.claude
.cursor
benchmark*
checkpoints
dataset
gpt_proxy_client
workspaces/*
!workspaces/config_example.json
hf_*
srun.sh
submit.sh
format.sh

run_*